* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Microsoft YaHei"
}

.top {
	width: 100%;
	height: 173px;
}

.logo {
	margin-top: 40px;
}

.login {
	width: 50px;
	height: 20px;
	position: absolute;
	border-radius: 8px;
	margin-top: -120px;
	margin-left: 1100px;
	background: #a52718;
	color: aliceblue;
}

.text {
	height: 30px;
	width: 250px;
	margin-left: 800px;
	margin-top: -50px;
	position: absolute;
}

.search {
	margin-left: 1050px;
	margin-top: -50px;
	height: 35px;
	width: 35px;
	background: #a52718;
	color: aliceblue;
	position: absolute;
}

.nav {
	width: 1800px;
	height: 30px;
	position: absolute;
	background: #09386b;
	margin-bottom: -20px;
}

.nav ul {
	list-style: none;
	text-align: center;
	margin-left: 169px;
}

.nav li {
	width: 200px;
	height: 20px;
	float: left;
	text-align: center;
	background: #09386b;
	color: aliceblue;
	display: block;
	cursor: pointer;
	line-height: 30px;
}

a {
	color: aliceblue;
	text-decoration: none;
}

.con {
	height: 700px;
	width: 900px;
	background: white;
	margin: 0px auto;
}

.locate {
	width: 900px;
	height: 30px;
	background: white;
	line-height: 32px;
}

.locate p {
	margin-left: 10px;
	font-family: "Microsoft YaHei"
}

.first {
	background: lightgrey;
	padding: 0;
	height: 30px;
	margin: 0px;
	border: 0px solid grey;
	text-align: center;
	font-weight: bold;
	letter-spacing: 12px;
}

ul {
	margin-left: 30px;
	line-height: 32px;
	letter-spacing: 5px;
}

ul span {
	float: right;
	position: relative;
	right: 150px;
}

div.digg {
	padding: 0px;
	margin: 0px;
	position: relative;
	top: 100px;
	text-align: center
}

div.digg a {
	border: #aaaadd 1px solid;
	padding: 2px 5px;
	color: #000099;
	text-decoration: none
}

div.digg a:hover {
	border: #000099 1px solid;
	color: #000;
}

div.digg a:active {
	border: #000099 1px solid;
	color: #000;
}

div.digg span.current {
	border: #000099 1px solid;
	padding: 2px 5px;
	font-weight: bold;
	margin: 2px;
	color: #fff;
	background-color: #000099
}

div.digg span.disabled {
	border: #eee 1px solid;
	padding: 2px 5px;
	font-weight: bold;
	margin: 2px;
	color: #ddd;
}

.list, .list a, .list a:hover {
	color: navy;
}

.notice {
	width: 300px;
	height: 348px;
	background: white;
	float: left;
	margin: 0;
	text-align: center;
	overflow: hidden
}

.run {
	margin-left: 10px;
	line-height: 32px;
	height: 270px;
	font-family: "Microsoft YaHei"
}

.notice-bottom {
	position: relative;
	top: -15px;
	color: white;
	font-family: "Microsoft YaHei"
}

.notice-bottom span {
	position: relative;
	right: -100px;
	top: -30px;
}

.outcome {
	width: 1000px;
	height: 300px;
	background: #000;
	clear: both;
}

.foot {
	width: 1200px;
	height: 60px;
	background: #f2f2f2;
	text-align: center;
	line-height: 20px;
	padding-top: 15px;
	color: #9898ae;
	margin:0px auto;
}

.notice-crud{
	width:200px;
	margin:0px auto;
	position:absolute;
	top:300px;
	left:40%;
}

.notice-crud a,a:hover{
	color:white;
	
}
.notice-crud ul{
	list-style:none;
}
.notice-crud li{
	height:70px;
	width:250px;
	background:#09386b;
	color:white;
	text-align:center;
	border-radius:50%;
	line-height:60px;
	font-size:24px;
	font-family: "Microsoft YaHei"
}
.manager a,a:hover{
	color:white;
	
}
.manager{
	position:absolute;
	top:20px;
	left:800px;
	background:#09386b;
	color:white;
	width:80px;
	height:50px;
	text-align:center;
	border-radius:50%;
	line-height:50px;
	font-size:16px;
	font-family: "Microsoft YaHei"
}
.back{
	position:absolute;
	top:280px;
	left:300px;
	background:#09386b;
	color:white;
	text-align:center;
	border-radius:50%;
	line-height:40px;
	font-size:16px;
	font-family: "Microsoft YaHei"
}
.back a,a:hover{
	color:white;
} 
.back1{
	position:absolute;
	top:280px;
	left:250px;
	background:#09386b;
	color:white;
	text-align:center;
	border-radius:50%;
	line-height:40px;
	font-size:16px;
	font-family: "Microsoft YaHei"
}
.back1 a,a:hover{
	color:white;
	}